#player,#player a{ color:#0f122a; }
#player{ background:url(sizerAndVol.png); background-position:bottom; }
#player .mainImage{ background:url(main.png); }

#player #baseLeft{ width:90px; }
#player #baseRight{ width:145px;}
#player .button{  width:20px; }
#player #play{ background:url(playBtn.png); }
#player #play,#player #pause{ left:20px; }
#player #previous{ left:0px; }
#player #next{ left:50px; }
#player #title{ left:85px;  }
#player #tooltip{ right:196px; }
#player #timer{ right:120px;  }
#player #list{ right:0px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#0f122a;  }
#player #seekerBuffered{ background-color:#0f122a; }
#player #seekerSliderBase{ background-color:#0f122a; }

#player #volume{ width:60px; right:30px; }
#player #volumeSlider{ width:8px; background:url(sizerAndVol.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#0f122a; color:#0f122a; }
#playlist h3{ background-color:#fff; }
#playlist .even{background-color:#FFF;}
#playlist .odd{ background-color:#eef7ff;}
#playlist .focus{ background-color:#0098ff; color:#FFF;}
